[Unit]
Description=FaxGetty Start Modem ttyIAX%i
After=getty.target

[Service]
Type=simple
User=root
Group=root
Restart=always
ExecStart=/usr/sbin/faxgetty ttyIAX%i
TimeoutSec=0

[Install]
WantedBy=multi-user.target

